/* --------------------ALL-------------------- */

* {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;

    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

.none {
    display: none;
}

.responsive {
    display: none;
}

/* --------------------ALL-------------------- */



/* -------------------INDEX------------------ */

.body {
    background-color: #181a20;

    height: 100vh;
}

/* -------------------HEADER-INDEX------------------- */

.logo {
    margin-top: 15px;
    margin-left: 15px;
}

.logo-img {
    height: 100px;
}

.header-index {
    background-color: #2a2d3dc0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    text-align: center;

    border-bottom: #000000 solid 2px;
}

/* --------------------NAV-INDEX-------------------- */

.menu-index {
    display: flex;

    list-style-type: none;

    margin: 15px;
}

.menu-index li {
    margin: 25px;
}

.menu-index li .btn-login {
    background-color: #181a20;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    border: #9da6d3 solid 2px;
    border-radius: 5px;

    text-decoration: none;

    font-weight: 400;

    transition: all .5s ease;
}

.menu-index li .data-g {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    background-color: #181a20;

    border: #ffd700 solid 2px;
    border-radius: 5px;

    text-decoration: none;

    font-weight: 400;

    transition: all .5s ease;
}


.menu-index li .btn-login:hover {
    color: #000000;

    background-color: #9da6d3;
}

.menu-index li .data-g:hover {
    color: #000000;

    background-color: #ffd700;
}

/* --------------------NAV-INDEX-------------------- */

/* --------------------HEADER-INDEX-------------------- */



/* --------------------MAIN-INDEX-------------------- */

.name {
    width: 100%;

    padding-top: 30px;

    display: flex;
    justify-content: center;
}

.lupa-xl {
    display: flex;
    justify-content: center;
}

.lupa-det {
    color: #000000;

    width: 400px;
    height: 50px;

    border: 1px;
    border-radius: 20px;

    text-align: center;
}

.games-img {
    height: 150px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    background-color: #383d4c90;

    border: #9da6d3 solid 2px;
    border-radius: 10px;

    transition: all .5s ease;
}

.games-img:hover {
    background-color: #9da6d3;
}

.games {
    text-align: center;
}

.d-load {
    display: flex;

    position: absolute;
    bottom: 60px;
    right: 20px;

}

.d-load a {
    text-decoration: none;
    font-weight: 400;

    height: 50px;
    width: 125px;

    padding-top: 11px;

    text-align: center;

    border: #2ba85a solid 2px;
    border-radius: 10px;

    transition: all .5s ease;
}

.d-load a:hover {
    color: #000000;

    background-color: #2ba85a;
}

/* --------------------MAIN-INDEX-------------------- */



/* --------------------FOOTER-INDEX-------------------- */

footer {
    position: fixed;
    bottom: 0;

    height: 50px;
    width: 100%;

    background-color: #2a2d3dc0;

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    border-top: #000000 solid 2px;
}

.iconos-r {
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;

    height: 30px;
}

.copy {
    color: #ffffff;

    margin-left: 15px;
}

/* --------------------FOOTER-INDEX-------------------- */

/* --------------------INDEX-------------------- */



/* --------------------PAG-LOL-------------------- */

.body-lol {
    height: 228vh;
}

/* --------------------HEADER-LOL-------------------- */

/* --------------------HEADER-TOP-LOL-------------------- */

.header-lol {
    z-index: 100;

    background-color: #2a2d3dc0;

    height: 123px;
    width: 100%;

    position: fixed;

    border-bottom: #000000 solid 2px;
}

.grid-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo lupa botones";

    height: 123px;
}

.logo {
    grid-area: logo;
}

.lupa {
    grid-area: lupa;
}

.botones-lol {
    grid-area: botones;
}

.menu-lol {
    display: flex;

    list-style-type: none;

    margin-top: 33px;
}

.menu-lol li {
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;

    padding-left: 0px;
}

.menu-lol li a {
    text-decoration: none;
}

.menu-lol .login a {
    margin-left: 70px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: #181a20;

    border: #9da6d3 solid 2px;
    border-radius: 10px;

    transition: all .5s ease;
}

.menu-lol .login a:hover {
    background-color: #9da6d3;

    color: #000000;
}

.menu-lol .gold a {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: #181a20;

    border: #ffd700 solid 2px;
    border-radius: 10px;

    transition: all .5s ease;
}

.menu-lol .gold a:hover {
    background-color: #ffd700;

    color: #000000;
}

.menu-lol .dload a {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: #181a20;

    border: #2ba85a solid 2px;
    border-radius: 10px;

    transition: all .5s ease;
}

.menu-lol .dload a:hover {
    background-color: #2ba85a;

    color: #000000;
}

.lupa input {
    color: #000000;

    margin-top: 45px;

    height: 30px;
    width: 100%;

    border: 1px solid #000000;
    border-radius: 15px;

    text-align: center;
}

/* --------------------HEADER-TOP-LOL-------------------- */

/* --------------------HEADER-LEFT-LOL-------------------- */

.lateral {
    background-color: #2a2d3dc0;

    display: flex;
    flex-direction: column;

    height: 550px;
    width: 325px;

    position: fixed;

    border-right: #000000 solid 2px;
}

.barra {
    margin-top: 40px;
    margin-bottom: 20px;

    text-align: center;
}

.lol-cs {
    color: #000000;

    height: 30px;
    width: 250px;

    border: #000000 solid 2px;
    border-radius: 15px;
}

.lol-cs option {
    color: #000000;
}

.top {
    list-style: none;

    margin-top: 20px;
    margin-bottom: 10px;
}

.menu li {
    text-align: center;

    margin-top: 20px;
    margin-bottom: 30px;

}

.top li a {
    padding: 5px 60px;

    background-color: #181a20;

    width: 70%;

    text-decoration: none;

    border-radius: 10px;
    border: #9da6d3 solid 2px;

    transition: all .5s ease;
}

.top li a:hover {
    color: #000000;

    background-color: #9da6d3;
}

.bottom {
    margin-top: 115px;
}

.bottom li .config-lol {
    border: #8c8c90 solid 2px;
    border-radius: 10px;

    background-color: #181a20;

    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;

    transition: all .5s ease;
}

.bottom li .config-lol:hover {
    background-color: #8c8c90;

    color: #000000;
}

.bottom li a {
    text-decoration: none;
}

.bottom li .data-bott {
    border: #ffd700 solid 2px;
    border-radius: 10px;

    background-color: #181a20;

    padding-top: 10px;
    padding-right: 21px;
    padding-bottom: 10px;
    padding-left: 21px;

    transition: all .5s ease;
}

.bottom li .data-bott:hover {
    background-color: #ffd700;

    color: #000000;
}

/* --------------------HEADER-LEFT-LOL-------------------- */

/* --------------------HEADER-LOL-------------------- */



/* --------------------MAIN-LOL-------------------- */

.main-lol {
    padding-top: 130px;
}

.img-galeria {
    height: 350px;

    transition: all .5s ease;
}

.img-galeria:hover {
    transform: scale(1.10);
}

.galeria {
    width: 78%;

    margin-left: 325px;

    padding-top: 35px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 70px;

    justify-items: center;
}

.text-ttc {
    font-size: 35px;
    font-weight: 600;

    width: 78%;

    margin-left: 325px;

    text-align: center;
}

.ver {
    width: 78%;

    margin-bottom: 75px;
    margin-left: 325px;

    text-align: center;

    display: flex;
    justify-content: center;

    height: 50px;

}

.ver a {
    background-color: #181a20;

    text-decoration: none;

    border: #9da6d3 solid 2px;
    border-radius: 10px;

    padding: 5px 10px;

    height: 40px;

    transition: all .5s ease;
}

.ver a:hover {
    color: #000000;

    background-color: #9da6d3;
}

/* --------------------MAIN-LOL-------------------- */

/* --------------------PAG-LOL-------------------- */



/* --------------------LOGIN-------------------- */

/* --------------------HEADER-LOGIN-------------------- */

.header-login {
    background-color: #2a2d3dc0;

    display: flex;
    justify-content: space-between;

    border-bottom: #000000 solid 2px;
}

.register-login {
    text-decoration: none;

    background-color: #181a20;

    display: inline-block;

    margin-top: 38px;
    margin-right: 80px;

    border: #9da6d3 solid 2px;
    border-radius: 10px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    transition: all .5s ease;
}

.register-login:hover {
    background-color: #9da6d3;

    color: #000000;
}

/* --------------------HEADER-LOGIN-------------------- */



/* --------------------MAIN-LOGIN-------------------- */

.logo-login {
    margin-top: 60px;

    height: 60px;
}

.cuadro-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;

    background-color: #2a2d3dc0;

    width: 24%;

    border-radius: 10px;
    border: #000000 solid 2px;
}

.text {
    margin-bottom: 25px;
}

.continuar ul {
    list-style: none;

    text-align: center;
}

.continuar ul li a {
    text-decoration: none;

    background-color: #181a20;

    border: #9da6d3 solid 2px;
    border-radius: 10px;

    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

    transition: all .5s ease;
}

.continuar ul li a:hover {
    background-color: #9da6d3;

    color: #000000;
}

.continuar ul li {
    margin-bottom: 20px;
}

.data {
    color: #000000;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 200px;

    text-align: center;

    border: #000000 solid 1px;
}

.iniciar-olv {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 60px;
}

.deco {
    text-decoration: none;

    margin-bottom: 10px;
}

/* --------------------MAIN-LOGIN-------------------- */

/* --------------------LOGIN-------------------- */



/* --------------------CHAMPS-------------------- */

.body-champs {
    height: 100%;
}

/* --------------------MAIN-CHAMPS-------------------- */

.container {
    width: 78%;

    margin-left: 330px;

    padding-top: 160px;
    padding-bottom: 80px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 70px;

    justify-items: center;
}

.img-champs {
    height: 105px;

    border: #000000 solid 2px;
}

.div-champs {
    text-align: center;
}

/* --------------------MAIN-CHAMPS-------------------- */

/* --------------------CHAMPS-------------------- */



/* --------------------VLADIMIR-------------------- */

/* --------------------MAIN-VLADIMIR-------------------- */

.champ {
    display: flex;
    flex-direction: column;

    padding-top: 150px;

    width: 75%;

    margin-left: 380px;
}

.flex {
    display: flex;
}

.img-vladi {
    height: 150px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;

    margin-left: 60px;
}

.powers {
    height: 35px;

    margin-right: 5px;
    margin-left: 5px;

    border: #000000 solid 1px;
}

.botones {
    display: flex;

    list-style-type: none;

    margin-top: 30px;
    margin-bottom: 30px;
}

.botones li a {
    text-decoration: none;

    border: #9da6d3 solid 2px;
    border-radius: 10px;

    margin-right: 20px;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    transition: all .5s ease;
}

.botones li a:hover {
    color: #000000;

    background-color: #9da6d3;
}

.relleno {
    width: 625px;

}

.build {
    margin-bottom: 70px;
}

.anuncio {
    display: flex;

    position: fixed;
    top: 140px;
    right: 30px;
}

.anuncio-02 {
    display: flex;

    position: fixed;
    top: 405px;
    right: 30px;
}

/* --------------------MAIN-VLADIMIR-------------------- */

/* --------------------VLADIMIR-------------------- */



/* --------------------MEDIA-QUERIES-------------------- */

@media screen and (max-width:1000px) {
    .continuar ul li a {
        font-size: 11px;
    }

    .cuadro-login {
        width: 200px;
        height: 420px;
    }

    .data {
        width: 150px;

        font-size: 10px;
    }

    .deco {
        font-size: 10px;
    }

    .logo-login {
        margin-top: 35px;
    }
}

@media screen and (max-width:650px) {
    .name img {
        height: 150px;
    }

    .iconos-f {
        display: none;
    }

    .copy {
        display: none;
    }

    .responsive {
        display: flex;
    }

    .r-copy {
        position: absolute;
        left: 15px;
        bottom: 12px;
    }

    .r-redes {
        position: absolute;
        right: 25px;
    }

    .r-redes a {
        text-decoration: none;
    }

    .register-login {
        margin-right: 20px;
    }
}

@media screen and (max-width:460px) {
    .menu-index {
        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;

        height: 121px;
    }

    .menu-index li {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .menu-index .r-login {
        margin-top: 21px;
    }

    .resp-460 {
        display: none;
    }

    .games-img {
        height: 100px;
    }
}

@media screen and (max-width:350px) {
    .name img {
        height: 120px;
    }
}

/* --------------------MEDIA-QUERIES-------------------- */